body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    padding: 32px 160px;
    flex:1;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold ;
}

ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 8px;
    font-size: 18px;
}

a{
    color: #e5e7eb;
    text-decoration: none;
}

/* heading content */
.heading-container{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: #1F2937;
    gap: 32px;
    padding: 64px 160px;
}

.heading-container .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.heading-container .content .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heading-container .content .description{
    color: #e5e7eb;
    font-size: 18px;
}

.heading-container .content .signup{
    border: none;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
}

/* info section */
.info{
    display: flex;
    flex-direction: column;
    padding: 64px 160px;
    gap: 64px;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.info .images{
    display: flex;
    text-align: center;
    font-size: 18px;
}

.images div img{
    border-radius: 8px;
    border: 4px solid #3882F6;
}

/* quote section */
.quote{
    display: flex;
    flex-direction: column;
    background: #e5e7eb;
    padding: 64px 320px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote .author{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

/* sign up section */
.signup-container{
    margin: 64px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3882F6;
    border-radius: 8px;
    padding: 32px 160px;
}

.signup-container .content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #f9faf8;
}

.signup-container .content .title{
    font-size: 24px;
    font-weight: bold;
}

.signup-container .content .text{
    font-size: 18px;
}

.signup-container .signup{
    color: #f9faf8;
    background: #3882F6;
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
}

